$main-text-color: white;
$second-text-color: #000;
$button-hover: #6C01F6;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wellnes-primary-button {
  padding: 20px 55px 16px;
  border-radius: 10px;
  background: $main-text-color;

  color: $second-text-color;
  font-family: "Josefin Sans";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: $button-hover;
  }
}

.wellness-container {
  max-width: 1480px;
  height: max-content;
  width: 100%;
  margin: 0 auto;
}